@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400&family=Poppins:wght@300;400;600&display=swap');
body{
	background-color: beige;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	color: #171515;

}

.container{
	display: flex;
}


.Header{
	text-align: center;
	padding: 20px;
}

h1{
	border:2px solid #9caf88;
	color: #171515;
	padding: 10px 20px;

}

.navigation{
	position: fixed;
	justify-content: flex-end;
	width: 200px;
	height: 100%;
	background-color: beige;
	padding: 10px;
}

.navigation a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 10px;
	color: #333333;
}

.navigation a:hover{
	background-color: #9caf88;
	color: #171515;
}

.mainContent {
	flex: 1;
	padding-left: 220px;
}

.Header{
	text-align: center;
	padding: 20px;
}

h1{
	border: 2px solid #9caf88;
	color: #171515;
	padding: 10px 20px;
}

.content{
	text-align: center;
	margin: 20px;	
}

span{
	color: #9caf88;
}

.contentContainer{
	display: flex;
	flex-direction: column;
	margin: 20px;
}



/*.image1{
	display: inline-block;
	vertical-align: top;
	width: calc(40% - 13px);
	box-sizing:border-box;
	float: right;
	margin-left: 26px;
}

.smallImage{
	max-width: 100%;
	height: auto;
	width: 400px;
}

.text1{
	display: block
	vertical-align: top;
	margin-left: 26px;
	width: calc(60% - 13px);
	box-sizing: border-box;
	float: left;
	padding: 20px;
	border: 2px solid #9caf88;
	text-align: left;
}

.content2{
	margin-top: 26px;
}
.text2{
	display: inline-block;
	width: calc(60% - 13px);
	box-sizing: border-box;
	float: right;
	padding: 20px;
	border: 2px solid #ccccff;
	text-align: left;
}

.image2{
	display: inline-block;
	vertical-align: top;
	width: calc(40% - 13px);
	box-sizing: border-box;
	margin-left: 26px;
}

.mediumImage{
	max-width: 100%;
	height: auto;
	width: 80%;
}*/

.text{
	padding: 20px;
	border:2px solid #9caff88;
	text-align: left;
	box-sizing: border-box;
}

.text h2{
	margin-bottom: 10px;
}

.image{
	text-align: center;
}

.smallImage, .mediumImage{
	max-width: 100%;
	height: auto;
	display: block;
	margin-top:10px;
}

.video{
	text-align: center;
	margin: 20px;
}

iframe{
	max-width: 100%;
}

.Header2{
	background-color: beige;
	text-align: center;
	padding: 20px;
}

.contentContainer2{
	display: flex;
	flex-direction: column;
	margin: 20px;

}

.flexBox{
	display: flex;
	flex-wrap: wrap;
}

.borderBox2{
	box-sizing: border-box;
	flex:1;
	border:2px solid #9caf88;
	padding: 20px;
	max-width: 800px;
	text-align: left;
}

.borderBox2 h2{
	margin-bottom: 10px;
}
.actionList{
	list-style-type: disc;
	padding-left: 20px;
}
.actionList Li{
	margin-bottom: 10px;
}

.image3{
	flex: 1;
	box-sizing: border-box;
	padding: 10px;
}

.largeImage{
	max-width: 100%;
	height: auto;
	width:100%;
}


.Header3{
	text-align: center;
	margin-bottom: 20px;
}

.content3{
	text-align: center;
}

.organizationList{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.organizationList li{
	width: calc(50% - 20px);
	margin: 10px;
	border: 2px solid #9caf88;
	padding: 10px;
	text-align: center;
}

.organizationList h2{
	margin: 0;
}

.orgImage{
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}


